:root {
  /*color*/
  --main-green-color: #00695c;
  --dark-green-color: #003d32;
  --ligt-green-color: #439688;
  --main-brown-color: #795548;
  --dark-brown-color: #4b2c20;
  --light-brown-color: #a98274;
  --gray-color: #e0e0e0;
  --white-color: #fafafa;

  /*Size*/
  --up--padding: 10px;
  --side-padding: 20px;
  --max-width: 1300px;
  --min-width: 800px;

  /*Font size*/
  --font-super: 24px;
  --font-large: 20px;
  --font-medium: 18px;
  --font-small: 16px;
  --font-micro: 10px;
}
.myBoard {
  display: grid;
  grid-template-columns: minmax(200px, auto) 660px;
  width: 100%;
  height: 570px;
  text-align: center;
  padding-right: var(--side-padding);
}

.myBoard_list {
  background: grey;
  grid-template-columns: 1/2;
  border-radius: 6px;
  overflow: auto;
}

.myBoard_list .col {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--font-large);
  text-align: center;
  padding: var(--up--padding) var(--side-padding);
  border-bottom: 3px solid violet;
  cursor: pointer;
}


.insert_view {
  display: grid;
  grid-template-rows: 230px 340px;
  text-align: center;
}

.insert_view .input_form {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 110px 440px 110px;
  grid-template-rows: repeat(4, 50px);
  text-align: center;
  border: 3px solid black;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.insert_view .input_form .title {
  grid-column: 2/3;
  color: black;
  font-size: var(--font-super);
  text-align: center;
  height: 30px;
}

.insert_view .input_form .todo {
  grid-column: 2/3;
  color: black;
  font-size: var(--font-large);
  text-align: center;
}

.insert_view .input_form #button_div {
  grid-column: 2/3;
  text-align: center;
}

.insert_view .input_form #button_div .add {
  width: 50px;
  height: 30px;
  margin-top: 10px;
  color: black;
  font-size: 14px;
}

.insert_form {
  display: grid;
  grid-template-columns: 110px 440px 110px;
  grid-template-rows: 1fr;
  padding-top: var(--up--padding);
  text-align: center;
  border-right: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.insert_form .myList {
  grid-column: 2/3;
  overflow: auto;
  text-align: center;
}

.insert_form .myList div {
  display: inline-block;
}
.insert_form .myList button {
  float: right;
  margin-top: 5px;
}

.insert_form .myList li {
  border-bottom: 3px solid black;
}

.insert_form .myList li:last-child {
  border-bottom: 3px solid black;
}

.insert_form .myList div {
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: var(--font-medium);
}

.insert_form #button_div {
  grid-column: 2/3;
  grid-row: 2/2;
  margin-bottom: 10px;
  text-align: center;
}

.insert_form #button_div input {
  color: black;
  width: 80px;
}

.viewer {
  position: relative;
  grid-template-columns: 2/3;
}

.view {
  display: none;
}
.todo_view {
  /*display: none;*/
  width: 500px;
  height: 300px;
  top: 0px;
  position: absolute;
  background: pink;
  display: grid;
  grid-template-columns: 40px 420px 40px;
  grid-template-rows: 60px 240px;
}

.todo_view form {
  display: none;
}

.todo_view #title {
  grid-column: 2/3;
  line-height: 60px;
  font-size: var(--font-super);
  text-align: center;
  border-bottom: 3px solid black;
}

.todo_view #close {
  grid-column: 3/4;
  height: 40px;
  border: 3px solid black;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
}

.todo_view #todo_list {
  grid-column: 2/3;
  float: center;
  background: grey;
  overflow: auto;
}

.todo_view #todo_list li {
  padding: 10px 0;
  background: white;
  border-bottom: 3px solid black;
}

.todo_view #todo_list div {
  text-align: center;
}
.todo_view .check {
  float: left;
  margin-top: 5px;
}

.todo_view #del {
  text-align: center;
  display: inline;
}
.todo_view #del_btn {
  border: 3px solid black;
  border-radius: 6px;
  background: white;
  cursor: pointer;
  line-height: 40px;
  vertical-align: middle;
  height: 40px;
}
